




/* ==========================
   COMPARISON  Section
========================== */

.before-after-sec{
    background: linear-gradient(370deg, #111111, #212d41);
}

.comparison-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
}

.compare-card{

    background-color: rgb(23 28 37 / 20%);

    backdrop-filter:blur(20px);

    border: 1px solid #626b78;

    border-radius:15px;

    padding:35px;
}

.card-top {
    margin-bottom: 16px;
}

.card-badge{

    display:inline-block;

    padding:10px 18px;

    border-radius:999px;

    font-size:13px;

    font-weight:700;

    margin-bottom:18px;
}

.card-badge.before{

    background:rgba(239,68,68,.12);

    color:#fca5a5;
}

.card-badge.after{

    background:rgba(34,197,94,.12);

    color:#86efac;
}

.compare-card h3 {
    color: #fff;
    font-size: 28px;
    line-height: 1.3;
    margin: 5px 0;
}

.compare-card ul{

    list-style:none;
    padding:0;
    margin:0;
}

.compare-card li{

    position:relative;

    padding-left:34px;

    margin-bottom:10px;

    color:rgba(255,255,255,.75);

    line-height:1.7;
}
/*
.before-card li::before{

    content:"✕";

    position:absolute;
    left:0;

    color:#ef4444;
}
*/

.before-card li::before{
    content:"\2715";

    position:absolute;
    left:0;
    top:4px;

    width:20px;
    height:20px;

    border-radius:50%;

    background:#ef4444;
    color:#fff;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:14px;
    font-weight:700;
}
/*
.after-card li::before{

    content:"✓";

    position:absolute;
    left:0;

    color:#22c55e;
}
*/

.after-card li::before{
    content:"\2713";

    position:absolute;
    left:0;
    top:4px;

    width:20px;
    height:20px;

    border-radius:50%;

    background:#22c55e;
    color:#fff;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:12px;
    font-weight:700;
}
.migration-arrow svg {
    width: 30px;
}

.migration-arrow {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    color: #111827;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    box-shadow: 0 20px 40px rgba(0,0,0,.35);
    position: absolute;
    left: 0;
    z-index: 5;
    transform: translate(-50%, -28px);
    top: 50%;
}


/* ==========================
   migration-cta CTA 
========================== */
.migration-cta {
    text-align: center;
    padding: 50px;
    border-radius: 15px;
    margin: 15px 0;
    background-color: rgb(23 28 37 / 20%);
    backdrop-filter: blur(20px);
    border: 1px solid #626b78;
}

.migration-cta h3{

    color:#fff;

    font-size:36px;

    margin-bottom:15px;
}

.migration-cta p{

    max-width:700px;

    margin:0 auto 25px;

    color:rgba(255,255,255,.70);

    line-height:1.8;
}

.cta-btn{

    display:inline-flex;

    align-items:center;
    justify-content:center;

    padding:16px 28px;

    border-radius:12px;

    text-decoration:none;

    font-weight:700;

    color:#fff;

    background:linear-gradient(
        135deg,
        #2563eb,
        #4f46e5
    );

    transition:.3s;
}

.cta-btn:hover{
    transform:translateY(-3px);
}

.cta_bt {
    display: flex;
    justify-content: center;
}

/* ==========================
   migration-cta CTA  end
========================== */



/* ==========================
   migration tablc css
========================== */

.migration-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1.1fr;
    gap:20px;

}

.migration-grid .card{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:20px;
    height:100%;
}

.migration-grid .card h3{
    font-size:20px;
    color:#111827;
    margin-bottom:18px;
    font-weight:700;
}

.table-wrap{
    overflow-x:auto;
}

.table-wrap table{
    width:100%;
    border-collapse:collapse;
}

.table-wrap table th{
    background:#f3f4f6;
    text-align:left;
    padding:12px;
    font-size:14px;
    font-weight:700;
    color:#111827;
    border:1px solid #e5e7eb;
}

.table-wrap table td{
    padding:12px;
    font-size:14px;
    color:#4b5563;
    border:1px solid #e5e7eb;
}

.note{
    margin-top:15px;
    color:#6b7280;
    font-size:13px;
    line-height:1.6;
}

/* CTA CARD */

.cta-card-bg {
    background: linear-gradient(135deg,#001a66,#0036d1);
    border-radius: 12px;
    padding: 30px;
    min-height: 100%;
}

.cta-card {
    color: #fff;
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: 64% 36%;
}

.cta-content{
    flex:1;
}

.cta-content h3{
    color:#fff;
    font-size:24px;
    line-height:1.15;
    margin-bottom:15px;
}

.cta-content p{
    color:rgba(255,255,255,.85);
    font-size:15px;
    line-height:1.7;
    margin-bottom:18px;
}

.checklist{
    list-style:none;
    margin-bottom:25px;
    padding: 0;
}

.checklist li{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
    font-size:15px;
}

.check{
    width:18px;
    height:18px;
    background:#22c55e;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:11px;
    font-weight:bold;
    flex-shrink:0;
}

.download-btn{
    display:inline-flex;
    align-items:center;
    gap:10px;
    background:#fff;
    color:#0036d1;
    text-decoration:none;
    padding:14px 24px;
    border-radius:8px;
    font-weight:700;
    transition:.3s;
}

.download-btn:hover{
    transform:translateY(-2px);
}

.clipboard{
    flex-shrink:0;
}

.clipboard svg{
    width:140px;
    height:auto;
}


/* =================================================================================================
   ---------------------------------------------- RESPONSIVE
=================================================================================================== */


@media (min-width:575px) and (max-width:768px){


.compare-card {
    padding: 25px;
    height: 100%;
}

.comparison-wrapper {
    align-items: start;
}

}



@media (max-width:575px){
    .comparison-wrapper {
        grid-template-columns: 1fr;
        margin: 0;
    }
    .compare-card {
        padding: 20px 15px;
    }
    .compare-card h3 {
    font-size: 25px;
    text-align: center;
}
.migration-cta h3 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 15px;
}
.migration-cta {
    padding: 15px;
    margin: 15px 0;
}
.compare-card.after-card {
    margin-top: 35px;
}
.migration-arrow svg {
    width: 24px;
    transform: rotate(90deg);
}

.migration-arrow {
    width: 40px;
    height: 40px;
    transform: translate(-50%, -30px);
    top: 0;
    left: 50%;
}

.migration-grid {
    grid-template-columns: 1fr;
}
.cta-card {
    grid-template-columns: 100%;
}

}

