* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 95% !important; 
    max-width: 95% !important;
    margin: 0 auto;
}

.spaceTB{
    padding: 70px 0;
}
.badge1 {
    padding: 5px 20px;
    border: 1px solid #1b355e;
    width: fit-content;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 15px;
    color: #1b355e;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}

h2{
    font-size: 40px !important;
}